@charset "UTF-8";

body {
	background-image: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); 
	background-size: cover; 
	color: whitesmoke
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	top: 50%;
	left: 50%;
}

form, .display {
	display: inline-block;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

br {
	clear: left;
}

input[type=text] {
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	border: none;
	background: #f1f1f1;
	width: 100%;
}

.bg {
	/* The image used */
	background-image:
		url("https://source.unsplash.com/collection/2022043/1920x1080");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.formSubmit {
	background-color: rgba(17, 77, 134, 0.562);
	color: yellow;
	position: absolute;
	right: 0;
	margin: 20px;
	padding: 20px 30px 20px 10px;
	max-width: 400px;
}

input[type=submit] {
	border: none;
	background-color: orange;
	cursor: pointer;
	height: 100%;
	top: 50%;
	left: 50%;
	margin-top: 10px;
	margin-left: 46%;
	padding: 0;
	width: 80px;
	height: 32px;
}

.input-label {
	text-align: right;
	width: 150px;
}