@charset "UTF-8";

.bg {
		/* The image used */
	background-image:
		url("https://source.unsplash.com/collection/2022043/1920x1080");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}